.c {
  box-shadow: 1px 4px 11px rgba(0, 0, 0, 0.2);
  transition: 0.06s;
  border: none;
  border-radius: 1em;
  /* width: 16.3125em; */
  /* height: 22.2em */
}

.c:hover {
  box-shadow: 1px 4px 11px rgba(0, 0, 0, 0.4);
  top: -2px;
  cursor: pointer;
}

.fa-star {
  color: #ffd700;
  font-size: 0.8rem;
}

.cit {
  height: 10.125em;
  /* width: 16.3125em; */
}

.viewall {
  border: none;
  text-decoration: underline;
  font-size: 18px;
  float: right;
  padding-top: 1rem;
  padding-right: 2rem;
  display: inline;
  background-color: #ffffff;
}

/* jumbotron and tab */

/*SUBNAV WITH TABS*/

.kid,
.parent {
  background: transparent;
  border: none;
  outline: none;
  padding: 4px 0px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff !important;
}

/*SUBNAV WITH TABS*/

#top {
  list-style: none;
  text-align: center;
  background-color: #46b7a1;
  width: 100%;
  height: 50px;
}

#subnav-list {
  list-style: none;
  text-align: center;
}

#top li,
#subnav-list li {
  display: inline-block; /* this is necessary to help center the submenu and make the items align to the left. Refrain from using "float:left" as it makes "text-align" useless. */
}

.parent,
.kid {
  display: inline-block;
  padding: 0 0;
  line-height: 45px;
}
.parent {
  background-color: #46b7a1;
}

.parent:hover {
  text-decoration: none;
  background-color: #5ec7b2;
  /* border-bottom:4px solid #ffffff; */
}

#top li #subnav-list {
  display: none; /* hides the submenu */
  position: absolute; /* makes it independent of it's father */
  left: 0; /* this and the line below makes sure it spreads 100% through the page */
  right: 0;
  top: 50px; /* the hight of #top */
  background-color: #73d3bb;
  text-align: center; /* makes sure the items are centered */
}

#top li #subnav-list .kid button {
  border-bottom: none;
}

.kid:hover {
  background-color: rgb(130, 221, 213);
}

.kid {
  width: 10rem;
}

#top .subnav:hover #subnav-list {
  display: block; /* shows the submenu when I hover on .subnav */
}

#fancy {
  background-image: url("../img/jumbotronBg.png") !important;
  background-size: cover !important;
  background-position: right !important;
}

/***********/
#header {
  background-size: cover !important;
  background-position: right !important;
}

/*Responsive tabs*/
.dropKid {
  /* box-sizing: content-box !important; */
  background-color: #46b7a1 !important;
  /* border-top:0.01px solid #ffffff !important; */
  font-size: 16px !important;
  color: #ffffff !important;
  /* width: 100% !important; */
  padding: 0.5rem 1.5rem !important;
  /* box-shadow: black !important; */
}
.dropKid:hover {
  background-color: #5ec7b2 !important;
}

.plain {
  border: none;
  padding: 0;
  margin: 0;
  padding-top: 4px;
  font-size: 22px;
  padding-bottom: 4px;
  background-color: #ffffff !important;
}

.one {
  border-top: 1px solid #c4c4c4;
  border-left: 1px solid #c4c4c4;
  border-radius: 30px 0px 0px 0px;
}

.two {
  border-top: 1px solid #c4c4c4;
  border-radius: 0px 0px 0px 0px;
}

.three {
  border-top: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  border-radius: 0px 30px 0px 0px;
}

#myButton {
  font-family: Barlow;
  color: #ffffff;
  background: #415f78;
  font-size: 16px;
  border: none;
  width: 10rem;
  border-radius: 30px;
  /* padding-left: 3rem;
  padding-right: 3rem; */
  margin: auto;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
}

#myButton1 {
  font-family: Barlow;
  color: #ffffff;
  background: #415f78;
  font-size: 16px;
  border: none;
  width: 10rem;
  border-radius: 30px;
  display: block;
  margin: auto;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid #F9F9F9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*****nav bar*/
/* ul.nav li.dropdown:hover ul.dropdown-menu{  */
.navHover:hover .hoverable {
  display: block;
}

.myBox {
  border: 1px solid #c4c4c4;
  box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.1);
  margin-left: 9%;
  margin-right: 9%;
  margin-top: 0.4rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-top: 1rem;
  padding-right: 3rem;
}

.slimBox {
  border: 1px solid #C4C4C4;
  box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.1);
  margin-left: 9%;
  margin-right: 9%;
  padding: 0.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-weight: 300;
}


.cross1{
  float:right;
  width: 3rem;
  background-color: #FFFFFF;
  border: none; 
}


.tick1{
  float:right;
  width: 3rem;
  color: #46B7A1;
  background-color: #FFFFFF;
  border: none; 
}

.dashedBox1{
  border: 2px dashed #c4c4c4;
}

.blueButton1{
  background: #415F78;
  border: 1px solid #F9F9F9;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  color: #FFFFFF;
  float: right;
  margin-right: 9%;
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 3.5rem;
  /* font-size: "42px"; */
}

.simpleButton1{
  background: #FFFFFF;
  font-size: 18px;
  /* padding: 0.5rem; */
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 8px;
  border: 1px solid #C4C4C4;
  box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.1);
  margin-left: 1rem;
}


.simpleButton11{
  background: #FFFFFF;
  font-size: 16px;
  /* padding: 0.5rem; */
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 8px;
  border: 1px solid #C4C4C4;
  box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.1);
  display: block;
  margin-top: 0.5rem;
}