.btnBegin {
  border-radius: 30px;
  border-color: white;
  background-color: #3caf96;
  color: white;
  width: 200px;
  padding: 10px;

  font-family: Barlow;
  font-weight: 300;
  font-size: 20px;
}

.btnCancel {
  border-radius: 30px;
  background-color: white;
  border-color: white;
  color: #313131;
  width: 200px;
  padding: 10px;

  font-family: Barlow;
  font-weight: 300;
  font-size: 20px;
}

.form1 {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  margin: auto;
}

.formCol1 .formLabel1 {
  padding-top: 10px;
  margin-bottom: 0px;
}

.inputdetail {
  background: white;
  width: 19rem;
  border: none;
  border-bottom: solid;
  border-color: #203a50;
  border-width: 1px;
  font-size: 20px;
  overflow-wrap: break-word;
}

.longinputdetail {
  background: white;
  width: 100%;
  border: none;
  border-bottom: solid;
  border-color: #203a50;
  border-width: 1px;
  font-size: 20px;
  overflow-wrap: break-word;
}
/*
input[value="0000-00-00"]::-webkit-datetime-edit {
  color: transparent;
}
*/

::placeholder {
  /* Firefox, Chrome, Opera */
  color: #313131;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #313131;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #313131;
}

::-webkit-file-upload-button {
  border-radius: 8px;
  border-color: #313131;
  background-color: white;
  color: #313131;
  width: 8rem;
  padding: 0.2rem;

  font-family: Barlow;
  font-weight: 300;
  font-size: 20px;
}

.formLabel1 {
  font-size: 16px;
  padding-bottom: 0px;
  color: #313131;
}

.inputdetail [type="text"] {
  word-wrap: break-word;
  word-break: break-all;
  height: 80px;
}
