.mainBox {
  margin-bottom: 5.5rem;
  margin-top: 3rem;
}

.addBox {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6c6c6c;
  font-weight: 200;
  font-size: 18px;
  cursor: pointer;
}

.questionTemplate {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0px 0px 0px 48px;
}

.questionArea {
  display: flex;
  flex-direction: column;
  padding: 20px 10px 16px 10px;
  flex-grow: 1;
}

.questionArea textarea {
  border: none;
  border-bottom: solid 1px #575757;
  overflow: hidden;
  width: 100%;
  resize: vertical;
  padding: 0px;
}

.questionArea input[type="file"]::file-selector-button {
  background: #ffffff;
  border: 1px solid #666666;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 0px 10px;
  outline: none;
  color: #666666;
  margin-top: 5px;
  cursor: pointer;
}

.questionHeading {
  color: #46b7a1;
  font-size: 16pt;
}

.questionText {
  color: #313131;
  font-size: 12pt;
  width: 100%;
}

.questionNum {
  color: #313131;
  font-weight: 500;
  font-size: 24pt;
  width: auto;
  height: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}

.mcqTemplate {
  margin-top: 10px;
}

.mcqOption {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mcqOption textarea {
  border: none;
  border-bottom: solid 1px #575757;
  overflow: hidden;
  width: 250px;
  resize: vertical;
  margin-left: 20px;
  margin-right: 10px;
  padding: 0px;
}

.icon {
  font-size: 14pt;
  cursor: pointer;
  /* padding-top: 5px; */
}

.sidePanel {
  width: 48px;
  background-color: #f9f9f9;
  border: 1px solid #c9c9c9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: none;
  align-items: center;
  margin: 0px;
}
