.questspace {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  text-align: left;
}

.stack {
  font-family: Barlow;
  font-style: normal;
  text-align: center;
  margin: auto;
}

.stack .title.col1 {
  font-weight: normal;
  font-size: 49px;
  text-align: left;
}

.stack .text.col1 {
  font-weight: 300;
  font-size: 31px;
  text-align: left;
  padding-right: 50px;
}

.stack .title.col2 {
  font-weight: 500;
  font-size: 37px;
}

.stack .text.col2 {
  font-size: 24px;
}

.stack .title.col3 {
  font-weight: 500;
  font-size: 37px;
}

.stack .text.col3 {
  font-size: 24px;
}

footer {
  background-color: #3caf96;
  padding: 30px;
}

.footerLeft {
  padding: 10px;
  margin: auto;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
}

.footerMid {
  padding: 10px;
  margin: auto;
  text-align: center;
  color: #ffffff;
}

.footerRight {
  padding: 10px;
  margin: auto;
  font-family: Barlow;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}
