@media only screen and (min-width: 400px) {
  .signUpBack {
    background-position-y: 200px;
    background-repeat: no-repeat;
    background-size: 100% 58%;
  }
}

@media only screen and (min-width: 720px) {
  .signUpBack {
    background-position-y: 200px;
    background-repeat: no-repeat;
    background-size: auto;
  }
}

.signUpContainer {
  padding-bottom: 90px;
}

div.leftCol {
  border: none;
  text-align: right;
  padding-right: 0px;
  height: 550px;
}

div.rightCol {
  height: 550px;
}

.imgSpace img {
  width: 330px;
  height: 480px;
}

.imgSpace {
  width: 350px;
  height: 480px;
  z-index: 2;

  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 0px;
}

.whiteRect {
  width: 305px;
  height: 430px;
  z-index: 1;
  background: white;

  position: absolute;
  bottom: 20px;
  right: 0px;
  box-shadow: 5px 13px 23px rgba(0, 0, 0, 0.25);
}

.backRect {
  width: 290px;
  height: 430px;
  z-index: 0;
  background: #f9f9f9;

  position: absolute;
  bottom: 0px;
  right: 0px;
  box-shadow: 5px 13px 23px rgba(0, 0, 0, 0.25);
}

.cardRight {
  width: 300px;
  height: 430px;
  z-index: 0;
  background: #f9f9f9;
  padding: 0px;
  margin: 0px;

  position: absolute;
  bottom: 0px;
  left: 0px;
  box-shadow: 5px 13px 23px rgba(0, 0, 0, 0.25);
}

.createAccount {
  padding-left: 40px;
  padding-right: 40px;
  margin: auto;
  width: 300px;

  background: #f9f9f9;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.formSignUp {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  margin: auto;
}

.formColSignUp .formLabelSignUp {
  padding-top: 10px;
  margin-bottom: 0px;
}

.inputSignUp {
  background: #f9f9f9;
  width: 100%;
  border: none;
  border-color: #203a50;
  border-bottom: 1px solid;
  padding: 0px;
  font-size: 12px;
}

.inputSignUp:focus {
  border-color: #203a50;
  border: 1px solid;
  border-radius: 2px;
}

.formLabelSignUp {
  font-size: 16px;
  padding-bottom: 0px;
  color: #313131;
}

.titleSignUp {
  white-space: pre-line;
  text-align: center;
  color: #313131;
  font-family: Barlow;
  font-size: 22px;
  font-weight: 400;
}

.titleCaptionSignUp {
  text-align: center;
  color: #575757;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  /* font-size: 10px; */
  font-size: 12px;
  padding-top: 0.4rem; /*Added*/
}

/* .nav-pills {
  padding-top: 15px;
  padding-bottom: 5px;
} */

.nav-pills {
  padding-top: 20px;
  padding-bottom: 10px;
}

.btntrue {
  width: 50%;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: Barlow;
  /* font-size: 10px; */
  color: white;
  background: #5cc3ad;
  font-size: 12px;
  border: none;
  /* border: 1px solid #f9f9f9; */
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.btnfalse {
  width: 50%;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: Barlow;
  /* font-size: 10px; */
  color: #313131;
  background: #d1e4e0;
  font-size: 12px;
  border: none;
  /* border: 1px solid #f4f4f4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.btnNextSignUp {
  font-family: Barlow;
  /* font-size: 10px; */
  color: #ffffff;
  background: #415f78;
  font-size: 12px;
  border: none;
  /* border: 1px solid #f9f9f9; */
  /* box-sizing: border-box; */
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 30px;
  width: 50%;
  margin: auto;
  padding-top: 4px;
  padding-bottom: 4px;
}

.btnBack {
  font-family: Barlow;
  /* font-size: 10px; */
  color: #ffffff;
  background: #5cc3ad;
  font-size: 12px;
  border: none;
  /* border: 1px solid #f9f9f9;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 30px;
  width: 40%;
  margin: auto;
  padding-top: 4px;
  padding-bottom: 4px;
}
.btnSignUp {
  font-family: Barlow;
  /* font-size: 10px; */
  color: #ffffff;
  background: #415f78;
  font-size: 12px;
  border: none;
  /* border: 1px solid #f9f9f9;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 30px;
  width: 40%;
  margin: auto;
  padding-top: 4px;
  padding-bottom: 4px;
}

.circleDark {
  color: #454545;
  font-size: 6px;
}

.circleLight {
  color: #c4c4c4;
  font-size: 6px;
}
